<!--
  Generated template for the SetupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="absolute-center">
    <ion-card-header>
      Select Type of Wallet
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <button [disabled]="typeIsAgent" ion-button full color="xend" (click)="selectLoginType('agent');" class="big-button">
            <ion-icon ios="ios-person" md="md-person"></ion-icon> &nbsp;&nbsp;&nbsp;Agent
          </button>
        </ion-col>

        <ion-col col-6>
          <button [disabled]="typeIsPOS" ion-button full color="xend" (click)="selectLoginType('pos');" class="big-button">
            <ion-icon ios="ios-people" md="md-people"></ion-icon> &nbsp;&nbsp;&nbsp;Distributor
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="typeIsPOS">
        <ion-col>
          <ion-item>
            <ion-label floating>Enter Distributor Code</ion-label>
            <ion-input type="text" [(ngModel)]="distributorCode"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="typeIsPOS">
        <ion-col>
          <ion-label stacked>Select Manufacturer</ion-label>
          <ion-select interface='action-sheet' [(ngModel)]="manufacturerId" placeholder="Tap Here to select">
            <ion-option *ngFor="let manufacturer of manufacturers" value="{{manufacturer.id}}">{{manufacturer.name}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="typeIsPOS">
        <ion-col>
          <button ion-button full large color="xend" (click)="pos()">Login</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="typeIsAgent">
        <ion-col>
          <button ion-button full large color="xend" (click)="openLogin()">Login</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="typeIsAgent">
        <ion-col col-12>
          <button ion-button full large color="xend" (click)="register()">Register</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
