page-ngnc {
    .background {
        background-color: #3b5983;
    }

    .segment-button {
      font-weight: bold;
      color: black !important;
      //background-color: rgb(50, 6, 121) !important;
    }

    p {
      color: brown !important;
    }

    p.blue {
      color: #488aff !important;
      font-size: larger;
    }
}
