page-ngnc {
    .background {
        background-color: #3b5983;
    }

    .segment-button {
      font-weight: bold;
      color:  rgba(141, 55, 239, 0.7) ;
      border-radius: 0.3rem;
      //background-color: rgb(50, 6, 121) !important;
    }

    p {
      color:  rgba(141, 55, 239, 0.7) ;
    }

    p.blue {
      color: #488aff !important;
      font-size: larger;
    }
}
