<!--
  Generated template for the ExchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-title>
        Swap Tokens
      </ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content padding>
    <div>
        <ion-card style="background: whitesmoke; border-radius: 1rem;">
            <ion-card-header>
                <ion-item>
                    XendSwap Interface
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col col12>
                        <ion-label stacked>From</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-8>
                        <ion-input type="number" [(ngModel)]="amountIn" (input)="estimatePrice('in');"></ion-input>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button medium round full clear (click)="openModal('from');">
                            <img src="{{from.logoURI}}">&nbsp;&nbsp;{{from.symbol}}
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button medium full clear icon-only>
                            <ion-icon name="arrow-round-down"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-label stacked>To</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-8>
                        <ion-input type="number" [(ngModel)]="amountOut" (input)="estimatePrice('out');"></ion-input>
                    </ion-col>
                    <ion-col col-4>
                        <button *ngIf="to.symbol !== 'Select Token'" ion-button medium round full clear (click)="openModal('to');">
                            <img src="{{to.logoURI}}">&nbsp;&nbsp;{{to.symbol}}
                        </button>
                        <button *ngIf="to.symbol === 'Select Token'" ion-button medium round full color='orange' (click)="openModal('to');">
                                {{to.symbol}}
                        </button>                        
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-label *ngIf="price > 0">
                            Price: {{invertedPrice | number: '.3-8'}} {{from.symbol}} per {{to.symbol}}
                        </ion-label>
                        <ion-label *ngIf="priceLoading === true" style="font-style: italic;">
                            Price is loading...
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-label stacked>Your Password</ion-label>
                        <ion-input type="password" [(ngModel)]="password"></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-buttons class="bordered">
                            <ion-row>
                                <ion-col col-9>
                                    <button ion-button medium full color="orange" (click)="confirmSwap();"
                                        icon-right>Swap
                                        <ion-icon name="swap"></ion-icon>
                                    </button>
                                </ion-col>
                                <ion-col col-3>
                                    <button ion-button medium round color="fingerprint" (click)="swapFingerprint();"
                                        icon-only>
                                        <ion-icon name="finger-print"></ion-icon>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>