page-landing {
    .thumbnail {
        width: 40px !important;
        height: 40px !important;
        border-width: 5px;
        border-style: outset;
        border-radius: 50px
    }

    .header-card {
        background: none !important;
        border: none;
    }

    .card-header {
        text-align: center;
        font-weight: 14px;
        border: none;
    }

    .header-content {
        background-image: url('../assets/img/bg_small.png') !important;
    }

    .total-assets {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.2;
        color: black;
    }

    .small {
        font-size: 0.9em;
        font-family: sans-serif;
    }

    .big {
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .big-color {
        font-size: 1.2em;
        font-family: sans-serif;
        color: black;
    }

    .item {
        font-weight: bold;
    }

    .list-md ion-item-sliding {
        border: none;
        background: none;
    }

    .list-ios ion-item-sliding {
        border: none;
        background: none;
    }
}
