page-landing {
    ion-card.card {
        border-radius: 10px;
        background-color: white !important;
    }

    .bg {
        border-bottom: solid thin black !important;
        line-height: 2.0;
    }

    .header-card {
        background: none !important;
        border: none;
    }

    .card-header {
        text-align: center;
        font-weight: 14px;
        border: none;
    }

    .header-content {
        background-image: url('../assets/img/bg_small.png') !important;
    }

    .total-assets {
        margin-top: 3rem;
        font-family: sans-serif;
        font-size: 0.9em;
        text-align: center;
        line-height: 1.2;
        color: black;
    }

    .assets-value {
        text-align: center;
        line-height: 1.2;
        color: darkslategray;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }

    .assets-icon {
        text-align: center;
        line-height: 1.2;
        color: orange;
        font-weight: bold;
        font-size: 1.4em;
    }    

    .coins {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.0em;
        text-align: left;
        line-height: 1.2;
        color: white;
    }    

    .small {
        font-size: 0.9em;
        font-family: sans-serif;
    }

    .big {
        font-size: 1.1rem;
        font-family: sans-serif;
    }

    .big-color {
        font-size: 1.1em;
        font-family: sans-serif;
        color: black;
    }

    .item {
        font-weight: bold;
    }

    .list-md ion-item-sliding {
        border: none;
        background: none;
    }

    .list-ios ion-item-sliding {
        border: none;
        background: none;
    }

    .depositButton {
        width: 20rem;
        margin-left: 7rem;
        margin-top:3rem;
        margin-bottom: 3rem;
    }
}
