page-history {
    .grid {
        font-family: sans-serif;
        text-align: center;
    }    

    .toolbar-title-md {
        width: 450px !important;
    }

    .rowgrid {
        border: thin solid black;
        border-width: 0.005em;
        background-color: white;
        color: white;
        font-weight: bolder;
        font-size: 14px;        
    }

    .colgrid {
        border: 4px solid rgba(126, 117, 213, 0.7);        
        border-width: 0.005em;
        font-weight: normal;
        font-size: smaller;
        box-sizing: border-box;
    }

    .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .odd {
            background-color: #eeeeee;
    }    

    .even {
          background-color: #cccccc;
    } 
    
    .nbnmnp {
        margin: 0 !important;
        padding: 0 !important;
    }

    .action-icon {
        font-size: 14px !important;        
    }
}