<!--
  Generated template for the RegisterPageOnePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Register Beneficiary</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="registerPageOneForm" *ngIf="page === 1">
    <ion-list no-lines>
      <ion-item>
        <ion-label floating><sup>**</sup>Firstname</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Lastname</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup></sup>Middlename</ion-label>
        <ion-input formControlName="middleName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Phone Number</ion-label>
        <ion-input formControlName="phoneNumber" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Gender</ion-label>
        <ion-select interface='action-sheet' formControlName="gender" placeholder="">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><sup>**</sup>Date Of Birth</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date of Birth" formControlName="dateOfBirth">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Address</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup></sup>Diability Type</ion-label>
        <ion-select interface='action-sheet' formControlName="disabilityType" (ionChange)="disabilityTypeSelected($event)" placeholder="">
          <ion-option *ngFor="let disabilityType of disabilityTypes" value="{{disabilityType.typeId}}">{{disabilityType.type}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><sup></sup>Disability Subtype</ion-label>
        <ion-select interface='action-sheet' formControlName="disabilitySubtype" placeholder="">
          <ion-option *ngFor="let disabilitySubtype of selectedDisabilitySubTypes" value="{{disabilitySubtype.subTypeId}}">{{disabilitySubtype.subType}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>State</ion-label>
        <ion-select interface='action-sheet' formControlName="state" (ionChange)="stateSelected($event)" placeholder="">
          <ion-option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>LGA</ion-label>
        <ion-select interface='action-sheet' formControlName="lga" placeholder="">
          <ion-option *ngFor="let lga of selectedLGAs" value="{{lga.name}}">{{lga.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="registerPageTwoForm" *ngIf="page === 2">
    <ion-list no-lines>
      <ion-item>
        <ion-label floating><sup>**</sup>Market Cluster</ion-label>
        <ion-select interface='action-sheet' formControlName="cluster" placeholder="">
          <ion-option *ngFor="let cluster of clusters" value="{{cluster.name}}">{{cluster.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Association</ion-label>
        <ion-input formControlName="association" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Trade Type</ion-label>
        <ion-select interface='action-sheet' formControlName="tradeType" (ionChange)="tradeTypeSelected($event)" placeholder="">
          <ion-option *ngFor="let tradeType of tradeTypes" value="{{tradeType.typeId}}">{{tradeType.tradeType}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Trade Subtype</ion-label>
        <ion-select interface='action-sheet' formControlName="tradeSubtype" placeholder="">
          <ion-option *ngFor="let tradeSubtype of selectedTradeSubtypes" value="{{tradeSubtype.subTypeId}}">{{tradeSubtype.subtype}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="registerPageThreeForm" *ngIf="page === 3">
    <ion-list no-lines>
      <ion-item>
        <ion-label floating><sup>**</sup>Bank Account Number</ion-label>
        <ion-input type="number" formControlName="accountNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating><sup>**</sup>BVN</ion-label>
        <ion-input formControlName="bvn" type="number"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="registerPageFourForm" *ngIf="page === 4">
    <ion-list no-lines>
      <ion-item>
        <ion-label floating><sup>**</sup>NOK FirstName</ion-label>
        <ion-input formControlName="nokFirstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>NOK LastName</ion-label>
        <ion-input formControlName="nokLastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>NOK PhoneNumber</ion-label>
        <ion-input formControlName="nokPhoneNumber" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Guarantor FirstName</ion-label>
        <ion-input formControlName="guarantorFirstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Guarantor LastName</ion-label>
        <ion-input formControlName="guarantorLastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>Guarantor PhoneNumber</ion-label>
        <ion-input formControlName="guarantorPhoneNumber" type="tel"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="registerPageFiveForm" *ngIf="page === 5">
    <ion-list no-lines>
      <ion-item>
        <ion-label floating><sup>**</sup>ID Type</ion-label>
        <ion-select interface='action-sheet' formControlName="idType" placeholder="">
          <ion-option *ngFor="let idType of idTypes" value="{{idType.text}}">{{idType.text}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><sup>**</sup>ID Number</ion-label>
        <ion-input formControlName="idNumber" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><sup>**</sup>ID Expiry Date</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select ID Expiry Date" formControlName="idExpiry" max=2300 min=2020>
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Share My Information</ion-label>
        <ion-checkbox formControlName="smi"></ion-checkbox>
      </ion-item>
      <ion-item>
        <button full item-center ion-button icon-only class="center" (click)="captureIdImage()">
          <ion-icon name="camera"></ion-icon>Take Picture of ID Card
        </button>
        <p>{{idImagePath}}</p>
      </ion-item>

      <ion-item>
        <button full item-center ion-button icon-only class="center" (click)="capturePassport()">
          <ion-icon name="camera"></ion-icon>Take Picture of Beneficiary
        </button>
        <p>{{photoImagePath}}</p>
      </ion-item>

    </ion-list>
  </form>

  <ion-row>
    <ion-col class="center" col-6>
      <ion-buttons class="bordered">
        <button ion-button full medium color="xend" (click)="previous()">
          <ion-icon name="return-left"></ion-icon>
          &nbsp;&nbsp;Previous
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col class="center" col-6>
      <ion-buttons class="bordered" *ngIf="page < 5" >
        <button ion-button full medium color="xend" (click)="next()">Next&nbsp;&nbsp;
          <ion-icon name="return-right"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons class="bordered" *ngIf="page === 5">
        <button ion-button full medium color="xend" (click)="submit()">Next&nbsp;&nbsp;
          <ion-icon name="return-right"></ion-icon>
        </button>
      </ion-buttons>

    </ion-col>
  </ion-row>
</ion-content>
