page-create-mnemonic {
    .ion-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .passphrase {
        color: rgb(50, 6, 121);
        font-size: 2.25em;
        font-family: sans-serif;
    }

    a, p {
        border-bottom: 10px;
    }

    br {
        margin-bottom: 40px !important;
    }
    div {
        font-size: 15px !important;
    }
    .bottom {
        position: absolute;
        bottom: 0;
    }
}
