page-my-orders {
    .grid {
        font-family: sans-serif;
        text-align: center;
    }    

    .rowgrid {
        border: thin solid black;
        border-width: 0.005em;
        background-color: mediumpurple;
        color: white;
        font-weight: bolder;
        font-size: 14px;        
    }

    .colgrid {
        border: thin solid black;        
        border-width: 0.005em;
        font-weight: normal;
        font-size: smaller;
    }

    .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .odd {
            background-color: #eeeeee;
    }    

    .even {
          background-color: #cccccc;
    } 
    
    .nbnmnp {
        margin: 0 !important;
        padding: 0 !important;
    }

    .action-icon {
        font-size: 14px !important;        
    }
}