page-pin {
    body {
        cursor: url('http://ionicframework.com/img/finger.png'), auto;
    }

    .main-wrap {
        max-width: 250px;
        margin: auto
    }

    .text-input {
        text-align: center;
        font-weight: bold;
    }

    .col {
        font-weight: 2em !important;
        text-align: center !important;
        color: white;
    }
}
