<!--
  Generated template for the Pin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img *ngIf="isLogin === true" src="assets/img/xendbit.png" alt="" class="header">
  <ion-card>
    <ion-card-header>
      <ion-label class="title">{{title}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="main-wrap">
        <ion-row>
          <ion-col col-8>
            <button ion-button full color="fingerprint">{{masked}}</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button full color="xend" (click)="showOrHide()">{{showOrHideText}}</button>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let row of rows">
          <ion-col col-4 *ngFor="let val of row">
            <button ion-button full color="xend" (click)="clicked(val)" [disabled]="isEnabled(val)">{{val}}</button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isBeneficiary === true">
          <ion-col>
            <button ion-button full color="xend" (click)="saveBeneficiary()" [disabled]="disableButton">Complete Registration</button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isLogin === true">
            <ion-col col-8>
              <button ion-button full medium color="orange" (click)="login();" icon-right>Login</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button full medium round color="xend" (click)="loginWithPrint();" icon-only>
                <ion-icon name="finger-print"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isAgentRegister === true">
          <ion-col>
            <button ion-button full color="xend" (click)="gotoNextPage()" [disabled]="disableButton">Complete Registration</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
